<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Cards</title>
</head>
<body>
    <h1>Credit Cards</h1>
    
    <!-- Formulario para agregar o actualizar -->
    <form action="/credit_card_search" method="POST">
        <h3>Search Cards</h3>
        <label>First Name:</label>
        <input type="text" name="first_name" required><br>
        <label>Last Name:</label>
        <input type="text" name="last_name" required><br>
        <button type="submit">Search</button>
    </form>
    
</body>
</html>
<br>
<a href="/">
    <button type="button">Back to menu</button>
</a>