<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movements</title>
</head>
<body>
    <h1>Movements</h1>
    
    <!-- Formulario para agregar o actualizar -->
    <form action="/movement_search" method="POST">
        <h3>Search Movements from Account</h3>
        <label>Account Number:</label>
        <input type="number" name="account_number" required><br>
        <button type="submit">Search</button>
    </form>
    
</body>
</html>
<br>
<a href="/add_movement">
    <button type="button">Add Movement</button>
</a>
<br>
<br>
<a href="/">
    <button type="button">Back to menu</button>
</a>