<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Movement</h1>
    
    <!-- Formulario para agregar o actualizar -->
    <form action="/register_movement_form/{{movement_id}}" method="POST">
        <h3>Select Record to Register Movement</h3>
        <label>Record Name:</label>
        <input type="text" name="record_name" required><br>
        <button type="submit">Register</button>
    </form>
    
</body>
</html>
<br>
<a href="/movement">
    <button type="button">Back to movements</button>
</a>